.root{
    display: inline;
}

.management{
    display: flex;
    text-align: center;
}

.deck{
    display: inline;
    position: absolute;
    top: 265px;
    left: 10px;
}

.middle-table{
    display: inline;
}

.bottom-table{
    display: inline;
}

.deck-cards{
    position: relative;
}

.opponent-cards{
    display: inline-block;
}

.opponent-tools{
    display: flex;
    text-align: center;
}

.player-cards{
    display: flex;
    margin-top: 345px;
    text-align: center;
}

.table-table{
    background-image: url("table.jpg");
    width: 1100px;
    height: 650px;
    display: block;
    position: relative;
}

.tools{
    display: block;
    position: relative;
    margin: auto;
}

.back {
    background-image: url("cards/back.jpg");
    width: 90px;
    height: 120px;
    position: absolute;
}

.trump-card{
    position: absolute;
    left: 45px;
}

.start-button{
    display: block;
    padding: 15px;
}

.setup-buttons{
    display: none;
    padding: 15px;
}

.count-cards {
    left: 29px;
    top: 100px;
    display: flex;
    position: absolute;
}

form{
    padding: 10px;
}

button{
    padding: 10px;
}

.font-count-cards {
    font-size: 35px;
    color: white;
    font-weight: bolder;
}

.deck-all{
    display: none;
    border-collapse: collapse;
}


table {
  border-collapse: collapse;
}
.outlined {
  border: 5px solid blue;
}
